# This is the CODEOWNERS file. These owners will be the default owners for everything in the DI-MOBILE-ANDROID-ONELOGIN-APP repository
# The following below will be requested for review when someone opens a pull request.


* chris.donnelly@digital.cabinet-office.gov.uk christopher.gedrim@digital.cabinet-office.gov.uk michael.chadwick@digital.cabinet-office.gov.uk alex.bradbury@digital.cabinet-office.gov.uk oliver.binns@digital.cabinet-office.gov.uk darren.dunford@digital.cabinet-office.gov.uk adam.higginson@digital.cabinet-office.gov.uk
