# This is the CODEOWNERS file. These owners will be the default owners for everything in the DI-MOBILE-ANDROID-ONELOGIN-APP repository
# The following below will be requested for review when someone opens a pull request.


* @govuk-one-login/mobile-common-android @govuk-one-login/mobile-leads
