name: Check deploy hotfix test project

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  on_hotfix_pr:
    name: Verify code base when hotfix pull request is published/updated
    if: startsWith(github.head_ref, 'hotfix/')
    env:
      ANDROID_HOME: ${{ github.workspace }}/bin/androidSdk
    runs-on: ubuntu-24.04
    steps:
      - name: 'Checkout codebase'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Run hotfix pr checks
        uses: ./mobile-android-pipelines/actions/hotfix-pr
        with:
          GITHUB_ACTOR: ${{ secrets.GITHUB_ACTOR }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
